.mainMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 16px;
}

.mainMenu li a {
    text-transform: uppercase;
    color: var(--color-text-grey);
    padding: 16px 0;
    display: block;
    font-weight: 700;
}

.mainMenu a:global(.active) {
    color: var(--color-text-default);
    border-bottom: 3px solid var(--color-text-default);
}